# Project exclude paths
/async_call/demo-base/service-api/target/
/async_call/demo-base/service-consumer/target/
/async_call/demo-base/service-provider/target/
/demo-base/service-api/target/
/demo-base/service-consumer/target/
/demo-base/service-provider/target/
/demo-base-xml/service-api/target/
/demo-base-xml/service-consumer/target/
/demo-base-xml/service-provider/target/
/dubbo_spi_demo/dubbo_spi_demo_api/target/
/dubbo_spi_demo/dubbo_spi_demo_impl/target/
/dubbo_spi_demo/dubbo_spi_demo_main/target/
/dubbo_spi_filter/target/
/java_spi_demo/java_spi_demo_api/target/
/java_spi_demo/java_spi_demo_impl/target/
/java_spi_demo/java_spi_demo_main/target/
/load_balance/demo-base/dubbo-spi-loadbalance/target/
/load_balance/demo-base/service-api/target/
/load_balance/demo-base/service-consumer/target/
/load_balance/demo-base/service-provider/target/
/routing_online/demo-base/dubbo_spi_router/target/
/routing_online/demo-base/service-api/target/
/routing_online/demo-base/service-consumer/target/
/routing_online/demo-base/service-provider/target/
/routing_rules/demo-base/service-api/target/
/routing_rules/demo-base/service-consumer/target/
/routing_rules/demo-base/service-provider/target/
/thread_pool/demo-base/dubbo_spi_threadpool/target/
/thread_pool/demo-base/service-api/target/
/thread_pool/demo-base/service-consumer/target/
/thread_pool/demo-base/service-provider/target/